.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 50px;
}

.box {
  margin: 10px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
  }

  .box {
    margin: 5px;
  }
}
