.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headerDiv{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  
  .inputField {
    width: 100%;
    margin: 5px 2px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #c1bfbf;
  }
  
  .buttonField {
    width: 100%;
    display: flex;
    border-radius: 5px;
    border: 1px solid #c1bfbf;
    height: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(90deg, #0f9178, #19a1b7, #f706d2);
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0px;
  }
  



  @media (max-width: 800px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
  
    

  }
  