
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 90vh

}

.listDiv{
    width: 50%;
}

.dataLength{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:20px
}

.dataLengthText{
    color:black;
}

@media (max-width: 600px) {
    .container {
        display: block;
        width: 100%;
    
    }
    .listDiv{
        width: 100%;
        margin:5px
    }
  }